DOMAIN=
TZ=

TRAEFIK_DASHBOARD_CREDENTIALS=
CF_API_EMAIL=
CF_DNS_API_TOKEN=
ACME_EMAIL=

CLOUDFLARE_TUNNEL_TOKEN=

WATCHTOWER_API_KEY=

TECHNITIUM_API_KEY=
TECHNITIUM_PASSWORD=

PG_EMAIL=
PG_PASSWORD=

VAULTWARDEN_PASSWORD=

ZERO_BYTE_SECRET=
DIR_TO_BACKUP_1=
BACKUP_LOCATION=
DIR_TO_BACKUP_2=
LABEL_IN_ZEROBYTE=

UPTIME_KUMA_API_KEY=

STORAGE_ROOT=
BACKUP_ROOT=

IMMICH_ENV_FILE=
IMMICH_VERSION=
UPLOAD_LOCATION=
DB_DATA_LOCATION=
DB_PASSWORD=
DB_USERNAME=
DB_DATABASE_NAME=
IMMICH_API_KEY=

PUID=
PGID=

ARCANE_ENCRYPTION_KEY=
ARCANE_JWT_SECRET=
ARCANE_API_KEY=
ARCANE_PROJECTS_PATH=
